// Add Made Coachella Font
@font-face {
  font-family: "Made Coachella";
  src: url("../fonts/made-coachella.woff2");
}

// Color
$gold: #d7b865;
$black: #202020;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 2,
  8: $spacer * 2.5,
  9: $spacer * 5,
);

// Font Serif
$font-serif: "Made Coachella", serif;

// Font Family Base
$font-family-base: "Source Sans 3", sans-serif;

// Primary Color
$primary: $gold;

// Font Size
$font-sizes: (
  1: 2.5rem,
  2: 2rem,
  3: 1.5rem,
  4: 1.25rem,
  5: $spacer,
  6: .875rem,
  7: 0.75rem,
);


@import "../bootstrap/scss/bootstrap.scss";

// Change Padding Select
.nice-select {
  width: 100%;
  padding: $spacer * 0.75 $spacer;
  font-size: 16px;
  .current {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }

  .nice-select-dropdown {
    width: 100%;
    ul {
      margin: $spacer * 0.5 0;
      .option {
        line-height: 160%;
      }
    }
  }
}

// Customizing Date Picker
.flatpickr-current-month span.cur-month,
.flatpickr-day {
  color: #202020;
}

.flatpickr-day {
  &.flatpickr-disabled,
  &.flatpickr-disabled:hover {
    color: #afafaf;
  }

  &.today,
  &:hover {
    background-color: $gold;
    border-radius: initial;
    border: none;
    font-weight: 700;

    &:hover {
      border-color: none;
      background: $gold;
      color: #202020;
    }
  }

  &.selected.startRange,
  &.startRange.startRange,
  &.endRange {
    background-color: $gold;
    color: $black;
    border-color: $gold;
    font-weight: 600;
  }
}

.font-serif {
  font-family: $font-serif;
}

// Hero Section
.hero {
  height: 700px;
  background: url("../images/hero.webp") no-repeat;
  background-size: cover;
}

// Reservation Form
.reservation-form {
  .form-control {
    padding: $spacer * 0.75 $spacer $spacer * 0.75 3rem;
  }

  select.location {
    display: none;
  }
  .location {
    li {
      &:hover,
      &:focus,
      &.selected.focus {
        background: $gold;
      }

      &.optgroup {
        background: transparent !important;
      }
      &:first-child {
        display: none;
      }

      &.optgroup {
        color: #202020;
        padding: 0 $spacer;
      }
    }
  }

  div:not(.increment-decrement) {
    .location-container,
    .date-container,
    .room-container,
    .promo-container {
      svg {
        position: absolute;
        left: $spacer;
        top: 50%;
        transform: translateY(30%);
        z-index: 1;

        &.date-icon,
        &.room-guest-icon,
        &.promo-icon {
          transform: translateY(-50%);
        }

        &.chevron-down {
          left: inherit;
          right: $spacer;
          transform: translateY(-50%);
        }
      }
    }
  }

  .increment-decrement {
    button {
      width: 32px;
      height: 32px;
      border-color: #202020;
      color: #202020;
      &:disabled {
        border-color: #C4C4C4;
        color: #C4C4C4;
      }
      svg {
        position: static !important;
        transform: initial !important;
      }
    }
  }

  #view-button {
    width: 160px;
  }
}

// Carousel
.swiper {
  width: 100%;
  height: auto;

  .swiper-scrollbar {
    width: 100%;
    height: 3px;
    margin-top: 2.5rem;
    position: static;
    background: #CFCFCF;

    .swiper-scrollbar-drag {
      background-color: $primary;
    }
  }
}



// Hotel Branch Section
.hotel-branch-item {
  display: block;
  padding-bottom: $spacer;

  &:hover {
    svg {display: block !important;}
  }
}

.branch-separator {
  border: dashed 2px $primary;
}

.view-more-hotel {
  display: block;
  width: 160px;
  color: #202020;
  border: solid 1px #202020;
  text-align: center;
  padding: $spacer*.75 $spacer*1.25;
  text-decoration: none;
  font-weight: 700;
  transition: ease-out .3s;

  &:hover {
    background: $primary;
    border: none;
  }
}

// Restaurant Section
.explore-all-restaurant:hover {
  background-color: $gold;
  border-color: $gold !important;
  color: $black !important  ;
  transition: .5s;
}

// Event Carousel

.swiper-event {
  .event-box {
    width: 500px;
    height: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-60%);
    left: 20%;
    top: 60%;

    h3 {
      position: relative;

      &::after {
        content: '';
        width: 122px;
        height: 2px;
        background-color: $gold;
        display: block;
        position: relative;
        top: .75rem;
      }
    }
  }

  .event-icon {
    width: 120px;
    min-height: 140px;
    border: solid 6px $gold;
    border-radius: 100px;
    padding: .5rem;

    svg {
      width: 80px;
      height: 80px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    flex-basis: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    &::after {display: none;}

    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
}

// Event Promoton
@media (min-width: 993px) {
  #event-promotion {
    h3 {
      height: 60px;
    }
  }
}

// Media Query
@media (max-width: 992px) {
  .hero {
    height: 500px;
  }

  #bali-image {
    width: 100%;
    height: auto;
  }

  .swiper-event {
    .swiper-button-next,
    .swiper-button-prev {
      flex-basis: 30px;
      height: 30px;

      svg {
        width: 15px !important;
        height: 15px !important;
      }
    }

    .event-icon {
      top:-60px !important;
      left: 20px;
    }
  }
}

@media (max-width: 767px) {
  .hotel-image {
    img {
      height: 300px;
    }
  }
  .swiper-event {
    .event-image  {
      height: 400px;
      object-fit: cover;
    }
    .event-box {
      position: static !important;
      transform: initial;
      width: 100%;
      height: auto;
      box-shadow: none;

    }
  }
}